.parent {
  width: 500px;
  height: 500px;
  border: solid thin red;
  display: flex;
  flex-wrap: wrap;
  /* display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center; */
}
.box {
  border: solid thin blue;
  box-sizing: border-box;
  width: 50%;
}

.x2 {
  width: 100%;
}

#b {
  /* height: 200px; */
}
