* {
  box-sizing: border-box;
}
.parent {
  width: 500px;
  height: 500px;
  border: solid thin red;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
}
.box {

  width: 50%;
  height: 50%;
  padding: 20px
}

#a {
  background-color: cadetblue;
  order: 2;
}

#b {
  background-color: springgreen;
}

#c {
  background-color: cornflowerblue;
  order: 1;
}

#d {
  order: 3;
  background-color: thistle;
}
