* {
  box-sizing: border-box;
}
.parent {
  width: 500px;
  height: 500px;
  border: solid thin red;
}
.box {
  outline: solid thin blue;
  width: 250px;
  height: 250px;
}
.parent-abc {
  height: 250px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#a {
  background-color: cadetblue;
}

#b {
  background-color: springgreen;
  height: 50%;
}

#c {
  background-color: cornflowerblue;
  height: 50%;
}

#d {
  background-color: thistle;
  width: 100%;
}
