* {
  box-sizing: border-box;
}
.parent {
  width: 500px;
  height: 500px;
  outline: solid thin red;
  display: flex;
}
.box {
  outline: solid thin blue;
  width: 250px;
  height: 250px;
}
.parent-abc {
  height: 500px;
  width: 250px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  outline: green;
}

.x2 {
  outline: green;
}



#a {
  height: 50%;
  width: 100%;
  background-color: cadetblue;
}
#b {
  height: 50%;
  width: 50%;
  background-color: springgreen;
}

#c {
  height: 50%;
  width: 50%;
  background-color: cornflowerblue;
}

#d {
  height: 100%;
  width: 50%;
  background-color: thistle;
}
