 * {
  box-sizing: border-box;
}
.parent-1 {
  width: 500px;
  height: 500px;
  border: solid thin red;
}

.parent-2 {
  flex-direction: column;
  width: 100%;
  justify-content: space-around;
}

#a {
  outline-style: solid;
  outline-color: black;
  width: 50%;
  justify-content: space-around;
}

#b {
  outline-style: solid;
  outline-color: black;
  width: 50%;
  height: 30%;
}

#c {
  outline-style: solid;
  outline-color: black;
  width: 50%;
  height: 50%;
}

#d {
  outline-style: solid;
  outline-color: black;
  width: 50%;
  height: 20%;
}
